.h1 {
  display: inline-block; background-color: red;width: 500px; height: 42px;
}
.main ul {
  list-style-type: none;
}

.header ul li {
  display: inline-block;width: 200px; background-color: red;
  }

 